h1, h2 {
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

select {
  height: 1.75rem;
  line-height: 1.75rem;
}

.hover-highlight:hover {
  background-color: rgb(230, 255, 250);
}

.app {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: rgba(154, 241, 188, 0.671);
}

/* TODO: Look into what this is to see it can be used */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
