button {
    background-color: rgb(255, 203, 255);
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    border-radius: 2%;
}

button:hover {
    background-color: rgb(255, 182, 255);
}