form > div {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

form > div > div {
    flex: 1;
    padding: 0.25rem;
    display: flex;
    align-items: baseline;
}

form label {
    margin-right: 0.5rem;
}

form input, form select {
    flex: 1;
}