.recipesTable {
    table-layout: fixed;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid black;
    width: calc(100% - 2rem);

    padding: 1rem;
    margin: 1rem;
}

.recipesTable thead th:nth-child(1) {
    width: 75%;
}

.recipesTable thead th:nth-child(2) {
    width: 25%;
}

.recipesTable th, .recipesTable td {
    padding: 0.75rem;
    border: 1px solid black;
}