.flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

.flex-col {
    flex-direction: column;
}

.flex-justify-around {
    justify-content: space-around;
}

.cursor-pointer {
    cursor: pointer;
}