.flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.flex-col {
    flex-direction: column;
}

.pl-2 {
    padding-left: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.75rem;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-grow-1 {
    flex: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}