.flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

.flex-col {
    flex-direction: column;
}

.pl-2 {
    padding-left: 0.5rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.cursor-pointer {
    cursor: pointer;
}