table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
    letter-spacing: 0.5px;
    background-color: rgba(var(--bs-light-rgb), 1) !important;
    word-break: break-all;
}

table th a:hover {
    background-color: aliceblue;
}

th {
    text-align: left;
}

caption {
    font-size: 1.5rem;
    padding: 1rem;
    font-style: italic;
    caption-side: bottom;
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
}

/* tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

table, tbody tr:nth-child(even) {
    background-color: #efcccc;
} */

th, td {
    padding: 0.75rem;
    border: 1px solid black;
}

table th:has(> a) {
    padding: 0;
}

table th a {
    padding: 0.75rem;
}

table a {
    display: block;
    text-decoration: none;
}
