$primary: #ff88ed;
$secondary: #91c6ff77;

@import "../../node_modules/bootstrap/scss/bootstrap";

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.new-element {
  animation: slideIn 0.5s ease-out;
}

label, input, textarea {
  display: block;
  width: 100%;
}

.form-label {
  margin-bottom: 0.25rem;
}

.card-title {
  text-align: center;
}

.form-control[type='number'] {
  max-width: 7rem;
}

h1, h2 {
    margin: 0;
}

.page-flex-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

.icon-sm {
  width: 1.4rem;
  height: 1.4rem;
}