$primary: #d988ff;
$secondary: #89cae8;

@import "../../node_modules/bootstrap/scss/bootstrap";

label, input, textarea {
  display: block;
  width: 100%;
}

h1, h2 {
    margin: 0;
}

.page-flex-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.25rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-sm {
  width: 1.4rem;
  height: 1.4rem;
}