form.recipeForm > div {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

form.recipeForm > div > div {
    flex: 1;
    padding: 0.25rem;
    display: flex;
    align-items: baseline;
}

form.recipeForm label {
    margin-right: 0.5rem;
}

form.recipeForm input, form.recipeForm select {
    flex: 1;
}